#main {
  max-width: 1240px;
  margin: auto;
  padding: 0 100px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/*header*/

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0px 50px;
}

.photograph-header button {
  order: 2;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border: white;
  border-radius: 50%;
  object-fit: cover;
  order: 3;
}

.photograph-header .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}

.photograph-header .location {
  color: #901c1c;
  font-size: 24px;
}

.photograph-header .tagline {
  margin-top: 20px;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:active {
  background-color: #db8876;
}

/*sort*/

#sorting {
  display: flex;
  max-width: 40%;
  align-items: center;
  margin: 20px 0;
  font-size: 18px;
}

/*Dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown.active .submenu {
  display: block;
  cursor: pointer;
}

.dropbtn {
  background-color: #901c1c;
  list-style: none;
  border-radius: 5px;
  color: white;
  border: none;
  width: 170px;
  height: 69px;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
}

.dropbtn img,
.dropdown img {
  position: absolute;
  right: 15%;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #901c1c;
  min-width: 170px;
  z-index: 1;
  tabindex: 1;
  top: 0;
  border-radius: 5px;
}

.submenu .sorting {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.submenu .sorting:last-child {
  border-bottom: none;
}


/*grid*/

.media_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.card img {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.card video {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.card .card_description {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  width: 350px;
}

.card_description .like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_description .like img {
  width: 18px;
  height: 17px;
  margin-left: 6px;
  cursor: pointer;
}

/*fees*/

.fees-fixed {
  position: fixed;
  left: 75%;
  bottom: 0;
  font-size: 24px;
  background: #db8876;
  border-radius: 5px;
}

.fees-fixed .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 376px;
  height: 89px;
}

.fees-fixed .inner .left {
  display: flex;
  align-items: center;
}

.fees-fixed .inner .left svg {
  margin-left: 5px;
}

/*lightbox*/
.lightbox_link {
  color: #901c1c;
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.close {
  width: 42px;
  height: 42px;
  align-self: flex-start;
  margin-top: 40px;
  cursor: pointer;
}

.img_viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.img_viewer .viewer_left,
.img_viewer .viewer_right {
  padding: 0 40px;
  width: 30px;
  height: 48px;
}

.img_viewer #lightbox_photo {
  object-fit: cover;
  width: 920px;
  height: 1050px;
}

.img_viewer .img_container {
  margin-top: 40px;
}

.img_viewer .img_container .img_description {
  color: #901c1c;
  font-size: 24px;
  margin-top: 20px;
}

/*modal*/

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form label {
  color: #312e2e;
  font-size: 36px;
}

.form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}